---
import svgButton from "@assets/icons/icon-card-button.svg";
---

<div class="w-full">
  <div class="prose dark:prose-invert">
    <h5 class="uppercase">Developer and Creator</h5>
    <h1 class="mb-2">Raphael Cunha.</h1>
    <p class="text-sm text-secondary">
      I am a specialist FrontEnd Development in Brazil
    </p>
  </div>
  <div class="absolute right-8">
    <img
      src={svgButton.src}
      width={svgButton.width}
      height={svgButton.height}
      alt="image description"
    />
  </div>
</div>
