---
import me from "@assets/images/me.png";
---

<div>
  <img
    class="rounded-2xl bg-gradient-to-b from-sky-400 to-sky-200"
    src={me.src}
    width={me.width}
    height={me.height}
    alt="Raphael Cunha Developer Frontend"
  />
</div>
