---
// Component Imports
import ImgSignature from "@assets/images/signature.png";
import ImgWorks from "@assets/images/works.png";
import CardAbout from "@components/CardAbout.astro";
import Layout from "@layouts/main.astro";
import CardImage from "@components/CardImage.astro";
import CardKeywords from "@components/CardKeywords.astro";
import CardServices from "@components/CardServices.astro";
import CardSocial from "@components/CardSocial.astro";
import CardClients from "@components/CardClients.astro";
---

<Layout title="Home">
  <div
    class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
  >
    <div class="sm:col-span-2 md:col-span-1 lg:col-span-2">
      <CardAbout />
    </div>
    <div class="sm:col-span-3 md:col-span-2">
      <div class="grid grid-cols-2 gap-6">
        <div class="col-span-full">
          <CardKeywords />
        </div>
        <CardImage
          title="About Me"
          category="More about me"
          image={ImgSignature}
          imageClassProp="invert opacity-50 h-[90px]"
        />
        <CardImage
          title="Projects"
          category="Showcase"
          image={ImgWorks}
          imageClassProp="h-full"
        />
      </div>
    </div>
    <div>
      <CardImage
        title="Projects"
        category="Showcase"
        image={ImgWorks}
        imageClassProp="h-full"
      />
    </div>
    <div class="sm:col-span-2">
      <CardServices title="Services Offering" category="Specialization" />
    </div>
    <div>
      <CardSocial
        title="Stay with me"
        category="Profiles"
        image={ImgWorks}
        imageClassProp="h-full"
      />
    </div>
    <div class="sm:col-span-2">
      <CardClients />
    </div>
  </div>
</Layout>
