---
// Component Imports
import Button from "../components/Button.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="Home">
  <div class="grid place-items-center h-screen content-center">
    <Button>Tailwind Button in Astro!</Button>
    <a href="/markdown-page" class="p-4 underline bg-cyan-900"
      >Markdown is also supported...</a
    >
  </div>
</Layout>
