---
import Card from "@components/Card.astro";

const cards = [
  {
    title: "Years Experience",
    value: "07",
  },
  {
    title: "Clients Worldwide",
    value: "50+",
  },
  {
    title: "Total Projects",
    value: "10+",
  },
];
---

<Card>
  <div class="flex h-[146px] w-full items-center justify-center gap-6">
    {
      cards.map((card) => (
        <div class="dark:prose-invertflex-col prose flex flex-col items-center justify-center gap-2 rounded-2xl border border-neutral-800 p-5  backdrop-blur-[1px] backdrop-brightness-50">
          <div>{card.value}</div>
          <div>{card.title}</div>
        </div>
      ))
    }
  </div>
</Card>
