body {
    background-color: #0F0F0F;
}

.bg-card {
  position: relative;
    z-index: 0;
    background: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0.075) 10.15%,
      rgba(255, 255, 255, 0.0125) 89.36%
    );
}

.bg-card:hover {
  transform: matrix(1.015, 0, 0, 1.015, 0, 0);
  transition: all 0.25s ease-in;
}

.bg-card:not(:hover) {
  transition: all 0.25s ease-out;
}

.bg-card:before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 1px;
  border-radius: 32px;
  transition: opacity 0.25s linear;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.075) 10%,
    rgba(255, 255, 255, 0.0125) 90%
  );  
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
          mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}

/* gradient animation  */
.about {
  background: linear-gradient(120deg, #3c82f7, #88aff3,  #010101);
  background-size: 200% 200%;
  animation: gradient 4s ease-in-out infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.navbar > ul > li a.active {
  color: #ffffff;
}

.navbar > ul > li a:hover:not(.active) {
  color: #9a9797;
  transition: all 0.25s ease-in;
}