---
import "@fontsource/inter";
import "./main.style.css";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script
      src="https://kit.fontawesome.com/e573f5446a.js"
      crossorigin="anonymous"
    ></script>
    <title>{title}</title>
  </head>
  <body>
    <div class="container mx-auto p-6 sm:p-8">
      <slot />
    </div>
  </body>
</html>
